<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>eChallan - SIH {% block title %}{% endblock %}</title>
  </head>
  <body>
      <div id="logo">
          <table align="center" border="0">
              <tr>
                  <td>
                      <img src={{url_for('static', filename ='bird.png')}}  height="120px" alt="logo" align="center" title="head" >
                  </td>
                  <td>
                      <img src={{url_for('static', filename ='name.png')}} height="120px">
                  </td>
              </tr>
          </table>

      </div>
            <main align="center">
                {% block main %}{% endblock %}
            </main>

  </body>
</html>
